language: ruby
rvm:
- 2.2.4
env:
- DB=mysql
script:
- RAILS_ENV=test bundle exec rake db:migrate --trace
- bundle exec rake db:test:prepare
- bundle exec rake
- bundle exec cap staging deploy
branches:
  only:
  - master
before_script:
- cp config/database.travis.yml config/database.yml
- mysql -e 'create database wallet_test'
before_install:
- openssl aes-256-cbc -K $encrypted_c8c5af377526_key -iv $encrypted_c8c5af377526_iv
  -in deploy-key.enc -out deploy-key -d
- rm deploy-key.enc # Don't need it anymore
- chmod 600 deploy-key
- mv deploy-key ~/.ssh/id_rsa
